@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #7e7e7e;
}

.infinite-scroll {
  width: max-content;
  animation: infinite-scroll 45s linear infinite;
}

@keyframes infinite-scroll {
  to {
    transform: translate(calc(-50% - 48px));
  }
}
